@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');
body{
    font-family: 'Karla', sans-serif;;
    background-color: white;
}




#Navbar {
    display: flex;
    border: 1px solid white;
    /* width: 100vw; */
    height: 9vh; 
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    font-weight: bolder;
    font-size: 17px;
 }
 
 
 ul li {
     list-style: none;
 }

 

 ul #navs{
     text-decoration: none;
     color:hsl(273, 4%, 51%);
 }
 
 #Navbar a:hover {
     color: hsl(256, 26%, 20%);
 }
 
 
 ul {
     display: flex; 
      align-items: center; 
      justify-content: space-between; 
      width: 25vw; 
      margin-left: 40%; 
      letter-spacing: 2px;
      /* border: 2px solid red; */
 }
 #second {
     /* margin-left: 3%; */
     width: 10%;
     height: 48%;
     font-size: 14px;
     font-weight: 700;
     color: hsl(256, 26%, 20%);
     background-color: white;
     border: 2.15px solid hsl(256, 26%, 20%);
     cursor: pointer;
 }
 
 #second:hover {
     background-color: hsl(256, 26%, 20%);
     color: white;
     
 }










/* footer */

footer{
    background-image: url(bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-color:  hsl(0, 0%, 98%);
    margin-top: 20%;
    padding: 5% 0 5% 0;
}

.footer-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0 10%;

}


.icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}


h1{
    color: hsl(256, 26%, 20%);
}

.bi-facebook, .bi-twitter, .bi-pinterest, .bi-instagram{
    color: hsl(273, 4%, 51%);
    cursor: pointer;
}

.bi-facebook:hover{
    color: hsl(256, 26%, 20%);
}

.bi-twitter:hover{
    color: hsl(256, 26%, 20%);
}

.bi-pinterest:hover{
    color: hsl(256, 26%, 20%);
}

.bi-instagram:hover{
    color: hsl(256, 26%, 20%);
}

#hr{
    margin: 3% 10% 0 10%;
}

.footer-footer{
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 27%;

}

.services{
    color: hsl(273, 4%, 51%);
}

div li{
    list-style-type: none;
}

div a{
    letter-spacing: 3px;
    text-decoration: none;
    color: hsl(256, 26%, 20%);
    font-size: 14px;
    font-weight: bolder;
}

div a:hover{
    text-decoration: underline;
}